body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
}

img{
	width:100%;
}

.clearfix{
	clear:both;
}

header{
	background-image: url("images/mainbanner.jpg");
	background-size:cover;
	height:100vh;
	position:relative;
}
header img{
	width:300px;
	margin:10px 0 0 3px;
}

nav{
	position:absolute;
	top:10px;
	right:30px;
}

nav ul li{
	float:left;
	margin-left:20px;
	font-size:18px;
	list-style:none;
}

nav ul li a{
	color:white;
	text-decoration:none;
}

header h1{
	font-size: 96px;
	font-weight:800;
	color:#88EBF2;
	margin:0;
}

header h3{
	font-size: 48px;
	font-weight:400;
	color:white;
	letter-spacing:40px;
	margin:0;
}

#blurb{
	position:absolute;
	bottom:10px;
	left:30px;
}

main{
	background-color:#DDD9D8;
	height:100vh;
}

.section-title{
	text-align:center;
	padding-top:100px;
	padding-bottom:50px;
}

.section-title h2{
	font-size:24px;
	font-weight:400;
	letter-spacing:30px;
	margin:0;
}

#services{
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

.card{
	width:300px;
	float:left;
	margin-right:30px;
	font-family: 'Lora', serif;
	font-size:14px;
}

.card.last-card{
	margin-right:0px;
}

.card h4{
	font-size:24px;
	font-weight:400;
	text-align:center;
	margin-top:0;
	font-family: 'Open Sans', sans-serif;
}



#container-main{
	padding:30px;
	width:960px;
	margin-left:auto;
	margin-right:auto;	
	font-size:12px;
	color:#0F6D75;
}

#container-contactinfo img{
	width:300px;
}

#headline{
	float:right;
}

#headline a{
	color:black;
}

#container-contactinfo{
	float:left;
}

#container-map{
	float:right;
}

.map{
	float:right;
	width:300px;
	height:100px;
	margin:10px 0 0 25px;
}


#container-nav{
	float:right;
	display:block;
	width:650px;
}

#container-nav ul{
	list-style-type:none;
	padding-left:0;
}

#container-nav ul li{
	display:inline;
	margin-left:41px;
	margin-top:10px;
	letter-spacing:2px;
}

#container-nav ul li a{
	text-decoration:none;
	color:black;
}

#container-nav ul li a:hover{
	color:white;
}

footer{
	background-color:#88EBF2;
}

#sub-footer{ 
	font-size:12px;
	margin:0;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	height:50px;
	background-color:#60a3a9;
}


#sub-footer p:first-child{
	float:left;
	margin-left:280px;
}

#sub-footer p:last-child{
	float:right;
	margin-right:280px;
}
